html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: rgba(219, 198, 177, 0.486);
}

.wrapper {
    width: cover;
    margin: auto;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Acme', sans-serif;
}

header h2 {
    font-family: 'Merienda One', cursive;
}

header {
    display: flex;
    border: 0px solid blue;
    align-items: center;
    background-color: #dbc6b1;
    padding-left: 0.9rem;
    border-bottom: 0.35rem solid #4d3824;
    width: 100%;
    position: fixed;
    z-index: 2;
}

div h2 {
    margin: 0;
    color: #dbc6b1;
    display: inline-block;
    transition: 0.5s linear;
}

div h2:hover {
    margin: 0;
    color: black;
}

div h2::first-letter {
    color: cadetblue;
    font-size: 2.2rem;
}

.leftheader {
    flex-basis: 70%;
}

.rightheader {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    flex-wrap: row nowrap;
    justify-content: flex-end;
}

div input {
    width: 1.8rem;
    height: 1.6rem;
    border-radius: 0.9rem;
    transform-origin: left;
    transition: 0.5s ease;
    background-size: 2rem;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    padding-left: 1.8rem;
    background-position: left center;
}

div input:focus {
    outline: none;
    width: 10rem;
    transition: 0.5s ease;
}

.signature {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    background-color: cadetblue;
    color: white;
    text-align: center;
    line-height: 2rem;
    margin: 0.3rem 0.5rem 0.2rem 0.5rem;
    box-shadow: -2px -1px #4d3824;
    text-shadow: -2px -1px 5px black;
    border-bottom: 1rem solid #4d3824;
}

.signature:hover {
    color: rgb(238, 238, 104);
}

.headerimg {
    background-image: url(../img/industries.jpg);
    height: 12rem;
    background-position: 0 43%;
    border-bottom: 0.35rem solid #4d3824;
    margin: 0;
    width: 100%;
}

nav {
    margin: 0;
    background-color: rgb(219, 198, 177);
    border-bottom: 0.2rem solid #4d3824;
    width: 100%;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: row nowrap;
    flex-direction: row;
    justify-content: initial;
    list-style-type: none;
    width: 60%;
    margin: 0 auto;
    border: 0px solid blue;
}

@media (max-width: 800px) {
    nav ul {
        flex-direction: column;
        width: 100%;
    }
}

nav ul li {
    border: 0px solid red;
    flex-basis: inherit;
    text-align: center;
    padding: 0 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

li a {
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    color: cadetblue;
    font-size: 1.2rem;
    display: block;
    border: 0px solid red;
}

nav ul li:hover {
    background-color: rgb(255, 255, 240, 0.3);
    transition: 0.2s linear;
}

section {
    display: flex;
    flex-wrap: row nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

aside {
    flex-basis: 20%;
}

.content {
    flex-basis: 80%;
    margin: 0 auto;
}

.asideup {
    height: 6.5rem;
    background-image: linear-gradient(rgba(95, 158, 160, 0.226), rgba(206, 178, 151, 0.308));
}

.asidedown {
    background-color: rgba(206, 178, 151, 0.308);
    height: 60rem;
    position: relative;
    top: -150px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.profileimg {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    position: relative;
    top: -75px;
    margin: 0 auto;
    padding: 0;
    background-size: 140px;
    background-position-y: 13%;
    background-image: url(../img/anas.jpg);
    z-index: 1;
}

.content h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.content h3 {
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    color: cadetblue;
}

.initiate {
    height: 90px;
}

.contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact ul li {
    padding: 0.5rem;
    border: 0px solid red;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}